.idea
.gradle
/symbolic-executor/build/
/symbolic-executor/lib/
/symbolic-executor/bin/
/symbolic-executor/logs/
/symbolic-explorer/venv/
**/*.log
targets/**/bin/
targets/**/build/
targets/applications/openolat/libs/z3/
/logs/
**/logs/
**/logs-debug/
**/results/
**/*.class
/build/
**/build/
/libs/java-library-path/*
libs/jacoco/report
targets/applications/openhospital/oh_build/restler_working_dir/Compile
targets/applications/openhospital/oh_build/restler_working_dir/RestlerResults
targets/sv-comp/sv-benchmarks/*
**/__pycache__
**/.venv/*
/.vscode/
**/smt_files/
**/witness/
**/sv-comp/results/
**/analysis/
!targets/sv-comp/scripts/lib/analysis
libs/cfg-extractor/cfg-extractor-1.0-SNAPSHOT.jar
