coverageOnly=false
constraintsOnly=true
coverageType=TRACE

logging.debug=true
logging.classes=true
logging.toConsole=true
logging.level=debug
logging.disableShadowStackLogging=false
logging.disableSymbolicExecutionLogging=false

instrumentation.transformer=SPRING_ENDPOINT
instrumentation.includePackages=org/springframework/samples/petclinic:org/modelmapper
# :jakarta:org/springframework/validation:org/springframework/ui
instrumentation.instructionIds=true
instrumentation.checkClassAdapter=false
instrumentation.useDataEndpointAdapter=false

solver.mode=LOCAL

explorer.host=localhost
explorer.port=8078
